<h1>Practica 8 </h1>
<hr>

<div class="container">

  <div class="containerBOTON">
    
    <button class="btn-danger" (click)="restar()">-</button>
    
    <span> {{ numero }} </span>

    <button class="btn-primary" (click)="sumar()">+</button>

  </div>

  <small class="advertencia" *ngIf="mensaje === true">
    ¡ LLEGASTE AL LIMITE !
  </small>

</div>
