h1 {
  color: black;
  text-align: center;
  font-size: 50px;
}

.container {
  font-size: 50px;
  text-align: center;
}

.btn-primary {
  transition-duration: 0.5s ;
  width: 50px;
  height: 50px;
}

.btn-primary:hover {
  background-color: black;
  color: white;
}

.btn-primary:active {
  background-color: #000000;
  box-shadow: 0 2px rgb(158, 20, 20);
  transform: translateY(4px);
}

.btn-danger {
  transition-duration: 0.5s;
  width: 50px;
  height: 50px;
}

.btn-danger:hover {
  background-color: rgb(163, 21, 21);
  color: white;
}

.btn-danger:active {
  background-color: #941010;
  box-shadow: 0 2px rgb(0, 0, 0);
  transform: translateY(4px);
}

button {
  border-radius: 12px;
  font-size: 35px;
}

.advertencia {
  color: rgb(255, 255, 255);
  font-size: 25px;
}